html {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    margin: 0; 
    padding: 0;
}

.titol {
    text-align: center;
    background-color: #1e5280;
    padding: 1rem 0;
}

.titol h1 {
    margin: 0;
    color: white;
}
nav{
    background-color: aqua;
    padding: 1rem;
}
nav ul{
    list-style-type: none;
    background-color: rgb(75, 75, 182);
    margin: auto;
    padding: 0;
    width: 400px; /* elimina lo spazio tra i Li */
    font-size: 0; /* elimina lo spazio tra i Li */
}
nav ul li{
    display: inline-block;
    width: 100px; /* elimina lo spazio tra i Li */
    background-color: red ;
    text-align: center;
    font-size: 1rem; /* elimina lo spazio tra i Li */
}
nav ul li a{
    text-decoration: none;
    color: aliceblue;
    text-transform: uppercase;
    display: block;   /* mi mette la A nel tutto il Li */
    padding: 1rem;
}
nav a:hover{
    background-color: azure; /* mi illumina di un colore quando passiamo sopra dinamicamente */
}
section{
    padding: 1rem;
}
.card{
    width: 400px;
    padding: 0.3rem 0.7rem;
    border: 1px solid salmon;
    border-radius: 5px;
    background-color: beige;
}
.titolo h3{
    text-align: center;
    font-size: 16px;
}
.card .img{
    height: 150px;
    background-image: url(IMG/pngtree-menu-icon-image_1344445.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 2rem;
}

.testo div:nth-child(1) {
    display: inline-block;
    width: 60%;
    text-align: center;
}

.testo div:nth-child(2) {
    display: inline-block;
}

.testo div:nth-child(2) ul {
    padding: 0;
    margin: 0 30px;
    list-style-type: none;
}
footer{
    text-align: right;
}

.card2{
    width: 400px;
    padding: 0.3rem 0.7rem;
    border: 1px solid salmon;
    border-radius: 5px;
    background-color: beige;
    margin-top: 5rem;
}
